<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:property-placeholder location="classpath:epg.properties"/>

    <import resource="dataSource.xml"/>

    <bean id="josso-identity-store" class="com.end2endmobile.epg.sso.utils.DefaultEPGIdentityStore" scope="singleton">
        <property name="adminDao" ref="epgDao"/>
    </bean>

    <bean id="josso-basic-authentication" class="com.end2endmobile.epg.sso.utils.DefaultEPGUsernamePasswordAuthScheme">
        <property name="credentialStore" ref="josso-identity-store"/>
        <property name="credentialStoreKeyAdapter" ref="josso-simple-key-adapter"/>
    </bean>

    <bean id="josso-identity-provider" class="com.end2endmobile.epg.sso.utils.DefaultEPGSSOIdentityProvider">
    </bean>
</beans>